In [1]:
import pandas as pd

In [26]:

def get_vaste_staf_namelist(excelfile):
    namen = pd.read_excel(excelfile, sheet_name='Sheet1')

    return list(namen['Volledige naam'].values)

VASTE_STAF_NAMEN = get_vaste_staf_namelist('../Data/HSR Vaste staf 01-05-2022.XLSX')

def check_if_vaste_staf(naam, vaste_staf_namen=VASTE_STAF_NAMEN):

    return naam in vaste_staf_namen

def check_if_vaste_staf_achternaam(achternaam, vaste_staf_namen=VASTE_STAF_NAMEN):
    vaste_staf_achternamen = [naam.split(' ')[-1].lower() for naam in vaste_staf_namen]

    return achternaam.lower() in vaste_staf_achternamen

In [39]:
check_if_vaste_staf_achternaam('Groot')

True

In [63]:
naam_mapping = pd.read_excel('../Data/HSR Vaste staf 01-05-2022.XLSX', sheet_name='NaamMapping')

def onderwijsnaam_naar_onderzoeksnaam(naam, naam_mapping=naam_mapping):
    try:
        return naam_mapping.loc[naam_mapping.OnderwijsNaam == naam, 'Volledige naam'].values[0]
    except IndexError as e:
        print('Error bij naam: ' , naam)
        raise IndexError

In [13]:
# sv = supervisie
sv1 = pd.read_excel('../Data/Promovendi HSR 20220602.xlsx', sheet_name='PhD programme')
sv2 = (pd.read_excel('../Data/HSR promoties 01012021 tot 01072022.xlsx', sheet_name='PhD programme')
      .drop(['PhD defense date', 'Duration from PhD starting date until PhD defense date'], axis=1))

assert (sv1.columns.values == sv2.columns.values).all()

sv = pd.concat([sv1, sv2], axis=0)
sv

,Department,Category of PhD candidate,PhD starting date,Full name,Research programme combined,Assigned supervisors,Active
0,Health Services Research,3. Externally financed PhD candidate,06/02/2020,C.J. Gamble,"Ageing and Long-Term Care - 100%,","J.C.M. van Haastregt, J.M.G.A. Schols",yes
1,Health Services Research,1a. Employed as Promovendus (UFO profile),21/08/2017,R.G.M. Smeets,"Creating Value-Based Health Care - 100%,","A.M.J. Elissen, M.E.A.L. Kroese, D. Ruwaard",yes
2,Health Services Research,3. Externally financed PhD candidate,01/01/2022,A.J.L. Muijsenberg,"Ageing and Long-Term Care - 50%, Respiratory &...","S. Houben-Wilke, D.J.A. Janssen, M.A. Spruit",yes
3,Health Services Research,3. Externally financed PhD candidate,16/09/2019,M Davies,"Ageing and Long-Term Care - 100%,","M. Simon, S. Staudacher, H. Verbeek, F. Zuniga",yes
4,Health Services Research,1a. Employed as Promovendus (UFO profile),07/10/2020,M.P.J. Brouwers,"Ageing and Long-Term Care - 100%,","B. de Boer, W.G. Groen, H. Verbeek",yes
...,...,...,...,...,...,...,...
19,Health Services Research,1a. Employed as Promovendus (UFO profile),15/05/2017,R. Haex,"Ageing and Long-Term Care - 100%,","A.J.H.M. Beurskens, Theresa Thoma-Lürken, S.M....",no
20,Health Services Research,1a. Employed as Promovendus (UFO profile),01/03/2015,C.A. van den Berg-Verberckt,"Ageing and Long-Term Care - 100%,","M.H.J. van den Beuken-van Everdingen, F.M.E. F...",no
21,Health Services Research,4. External PhD candidate (own resources),01/11/2017,H. Zon,"Creating Value-Based Health Care - 100%,","W. Groot, M.I. Pavlova",no
22,Health Services Research,4. External PhD candidate (own resources),01/12/2015,E. Miteniece,"Creating Value-Based Health Care - 100%,","W. Groot, M.I. Pavlova",no
23,Health Services Research,3. Externally financed PhD candidate,01/05/2019,M.C. Fliedner,"Ageing and Long-Term Care - 100%,","Stefan Eychmueller, R.J.G. Halfens, C. Lohrman...",no

In [20]:
supervisor_df = sv['Assigned supervisors'].str.split(',', expand=True)


ties_prep = pd.concat([sv['Full name'], supervisor_df], axis=1)
ties_prep

,Full name,0,1,2,3
0,C.J. Gamble,J.C.M. van Haastregt,J.M.G.A. Schols,None,None
1,R.G.M. Smeets,A.M.J. Elissen,M.E.A.L. Kroese,D. Ruwaard,None
2,A.J.L. Muijsenberg,S. Houben-Wilke,D.J.A. Janssen,M.A. Spruit,None
3,M Davies,M. Simon,S. Staudacher,H. Verbeek,F. Zuniga
4,M.P.J. Brouwers,B. de Boer,W.G. Groen,H. Verbeek,None
...,...,...,...,...,...
19,R. Haex,A.J.H.M. Beurskens,Theresa Thoma-Lürken,S.M.G. Zwakhalen,None
20,C.A. van den Berg-Verberckt,M.H.J. van den Beuken-van Everdingen,F.M.E. Franssen,D.J.A. Janssen,E. Wouters
21,H. Zon,W. Groot,M.I. Pavlova,None,None
22,E. Miteniece,W. Groot,M.I. Pavlova,None,None
23,M.C. Fliedner,Stefan Eychmueller,R.J.G. Halfens,C. Lohrmann,J.M.G.A. Schols

In [42]:
ties_long = (pd.melt(ties_prep, id_vars='Full name',
                    value_vars=supervisor_df.columns,
                    var_name='supervisor_nr',
                     value_name='Name')
             .sort_values('Full name')
            .rename(columns={'Full name': 'PhD name'})
            .drop('supervisor_nr', axis=1))

ties_long = ties_long.dropna()
ties_long

            PhD name                Name
81           A Boiko            W. Groot
218          A Boiko        M.I. Pavlova
355          A Boiko    Tetiana Stepurko
100     A. Alzahrani            W. Groot
237     A. Alzahrani        M.I. Pavlova
..               ...                 ...
252    W.J.A. Witlox    B.L.T. Ramaekers
389    W.J.A. Witlox   Dirk De Ruysscher
390  W.M.W.H. Sipers        L.B. Verdijk
253  W.M.W.H. Sipers     J.M.G.A. Schols
116  W.M.W.H. Sipers     L.J.C. van Loon

[391 rows x 2 columns]

In [46]:
ties_long['achternaam'] = ties_long['Name'].str.split().str[-1]
ties_long['is_vaste_staf'] = ties_long['achternaam'].apply(check_if_vaste_staf_achternaam)

# selecteer alleen rijen met vaste stafleden
ties_long = ties_long.loc[ties_long.is_vaste_staf, ]
ties_long

            PhD name                Name   achternaam  is_vaste_staf
81           A Boiko            W. Groot        Groot           True
218          A Boiko        M.I. Pavlova      Pavlova           True
100     A. Alzahrani            W. Groot        Groot           True
237     A. Alzahrani        M.I. Pavlova      Pavlova           True
155         A. Fakha          B. de Boer         Boer           True
..               ...                 ...          ...            ...
311      V. Moermans          H. Verbeek      Verbeek           True
37       V. Moermans  M.H.C. Bleijlevens  Bleijlevens           True
220  V.V. Anufriyeva        M.I. Pavlova      Pavlova           True
83   V.V. Anufriyeva            W. Groot        Groot           True
253  W.M.W.H. Sipers     J.M.G.A. Schols       Schols           True

[218 rows x 4 columns]

In [57]:
vc = ties_long['PhD name'].value_counts().to_frame('nr_of_HSR_supervisors')
vc.index.name='PhD name'

ties = ties_long.merge(vc, on='PhD name', how='left')
ties = ties[ties['nr_of_HSR_supervisors'] > 1]
ties

,PhD name,Name,achternaam,is_vaste_staf,nr_of_HSR_supervisors
0,A Boiko,W. Groot,Groot,True,2
1,A Boiko,M.I. Pavlova,Pavlova,True,2
2,A. Alzahrani,W. Groot,Groot,True,2
3,A. Alzahrani,M.I. Pavlova,Pavlova,True,2
4,A. Fakha,B. de Boer,Boer,True,3
...,...,...,...,...,...
212,V. Moermans,J.P.H. Hamers,Hamers,True,3
213,V. Moermans,H. Verbeek,Verbeek,True,3
214,V. Moermans,M.H.C. Bleijlevens,Bleijlevens,True,3
215,V.V. Anufriyeva,M.I. Pavlova,Pavlova,True,2
216,V.V. Anufriyeva,W. Groot,Groot,True,2

In [61]:
# naam zelfde als tiesnaam maken
ties['Name'] = ties['Name'].str.replace('.', '')
ties

D:\FHML_HSR\Heidag\env\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,PhD name,Name,achternaam,is_vaste_staf,nr_of_HSR_supervisors
0,A Boiko,W Groot,Groot,True,2
1,A Boiko,MI Pavlova,Pavlova,True,2
2,A. Alzahrani,W Groot,Groot,True,2
3,A. Alzahrani,MI Pavlova,Pavlova,True,2
4,A. Fakha,B de Boer,Boer,True,3
...,...,...,...,...,...
212,V. Moermans,JPH Hamers,Hamers,True,3
213,V. Moermans,H Verbeek,Verbeek,True,3
214,V. Moermans,MHC Bleijlevens,Bleijlevens,True,3
215,V.V. Anufriyeva,MI Pavlova,Pavlova,True,2
216,V.V. Anufriyeva,W Groot,Groot,True,2

In [64]:
missing_before = ties['Name'].isnull().sum()
ties['Name'] = [onderwijsnaam_naar_onderzoeksnaam(naam) for naam in ties['Name'].values]
missing_after = ties['Name'].isnull().sum()
assert missing_before == missing_after
ties

index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0
index 0 is out of bounds for axis 0 with size 0

AssertionError:

In [ ]:
# TODO: zorg dat namen gelijk geschreven zijn als in Pure/Onderzoek
missing_before = onderwijs['Naam'].isnull().sum()
onderwijs['Naam'] = [onderwijsnaam_naar_onderzoeksnaam(naam) for naam in onderwijs['Naam'].values]
missing_after = onderwijs['Naam'].isnull().sum()
assert missing_before == missing_after

In [ ]:
# TODO: to edges with count

from itertools import combinations
from collections import Counter

all_tuples = []
for unityear in onderwijs.UnitYear.unique():
    
    # get rows of that unityear
    # get staff in that unityear
    staff = onderwijs.loc[onderwijs.UnitYear == unityear, 'Naam'].values

    # get all combinations of 2 of staff in that unityear
    for c in list(combinations(staff, 2)):
        # print(unityear, c)
        all_tuples.append(c)
        
Counter(all_tuples)